
.social-icons{
    @include transition-ease;
    color: $light;
         &:hover{
            @include transition-ease;
        color: $primary;
    }
    
   
}

.star-logo{
    width: 20px;
    fill: rgb(227, 108, 9);
    // margin-left: 8px;
    // margin-top: 5px;
} 
