.container.testimonials__container{
    width:90%;
    padding-bottom: 0rem;
    margin-top: 1rem;
}

.client__avatar {
   border-radius: .5rem;
    // aspect-ratio: 1/1;
    overflow: hidden;
    margin: 0 auto 1rem;
    border: 0.4rem solid $primary;
    
}

.testimonial {
    background: black;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    user-select: none;
}

.client__review{
    color: $light;
    font-weight: 300;
    display: block;
    width: 90%;
    
    margin: 0.8rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet{
background: $light;

}

.swiper-pagination{
position: relative;
height: 150px;
}

.client__name{
    color: $light;
}

     
//      // media queries small devices
//      @media (max-width: 600px) {
//     .container.testimonials__container{
//         width: 60%;
//     }
//      }
     
//      // media queries small devices
//      @media (max-width: 600px) {
//         .container.testimonials__container {
//             width: $container-w-sm;
//         }

//         .client__review{
//             width: $container-w-sm;
//         }
   
//        }