@import './variable';
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css";
@import './Front';
@import './media';
@import './modals/regModal';
@import './designer';
@import './swiper';

.border-radius {
    border-radius: 1%;
}

.overflow-scroll{
    overflow-y: scroll;
}

.font-family {
font-family:  Edwardian Script ITC;
}

.text-shadow {
    text-shadow: 3px 2px 1px #ffffff;
  }


  .list-styled{
     list-style: inside;
     font-size: 1rem;
     font-family:  MT Script Capitals;
  }